.headerContainer {
  // background-color: rgb(32, 32, 37);
  color: var(--dark-grey);

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: .5em 1em;

    // @media only screen and (max-width: 700px) {
    //   flex-wrap: wrap;

    //   > :last-child {
    //     // margin-top: 1em;

    //   }
    // }

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.item {
  align-items: center;
  border: 2px solid var(--light-yellow);
  border-radius: 8px;
  box-shadow: 5px 5px 7px var(--shadow-bottom-right), -5px -5px 7px var(--shadow-top-left);
  color: var(--dark-grey);
  display: flex;

  // grid-template-columns: 1fr 4fr 1fr;
  justify-content: space-between;
  margin: .8em auto;
  max-width: calc(var(--max-width) - 2em);
  padding: .5em 1em;
  text-decoration: none;

  img {
    margin: 0;
  }

  .favicon {
    width: 1.5em;
  }

  .icon {
    margin: 0;
    opacity: .5;
    width: 1em;
  }

  .productName {
    align-items: center;
    color: var(--blue);
    display: flex;

    // width: 100%;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media only screen and (max-width: 450px) {
        width: 4em;
      }
    }

    img {
      margin-right: .5em;
    }
  }

  .details {
    flex: 1 1;
    font-size: .65em;
    margin: 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .rightSide {
    display: flex;
    align-items: center;

    // .info {
    //   display: none;
    // }
 
  }

  .category {
    background-color: var(--orange);
    border-radius: 15px;
    color: var(--black);
    font-size: .65em;
    margin: 0 .5em;
    padding: 0 1em;
    white-space: nowrap;
  }

  &:hover {
    border-color: var(--orange);

    .productName {
      color: var(--pink);
    }

    .icon {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: .5em;

    .productName {
      font-size: 1em;
    }

    .details {
      display: none;
    }

    .rightSide {
      .info {
        display: block;
        margin: 0;
        opacity: .5;
      }
    }

    .category {
      margin: 1 .5em;
    }
  }
}

.tagsContainer {
  display: flex;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    width: 100%;
  }

  > a {
    font-size: .8em;
    color: var(--black);
    background-color: var(--light-grey);
    padding: .1em .6em;
    border-radius: 5px;
    text-decoration: none;

    // display: inline-block;

    &:hover {
      background-color: var(--pink);
      color: var(--white);
    }

    &.active {
      background-color: var(--pink);
      color: var(--white);
    }

    & + a {
      margin-left: 1em;
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: .5em;

      & + a {
        margin-left: 0;
      }
    }
  }
}

.tweetaboutthis {
  font-size: .8em;
  background-color: var(--twitter-blue);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  padding: .2em .8em;

  &:hover {
    background-color: #2B80A5;
  }

  img {
    max-height: .8em;
    margin: 0;
    margin-right: .5em;
  }
}
