.headerContainer {
  // background-color: rgb(32, 32, 37);
  color: var(--dark-grey);

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: .5em 1em;
  }
}

.item {
  align-items: center;
  border: 2px solid var(--light-yellow);
  border-radius: 8px;
  box-shadow:
  5px 5px 7px var(--shadow-bottom-right),
  -5px -5px 7px var(--shadow-top-left);
  color: var(--dark-grey);
  display: flex;
  // grid-template-columns: 1fr 4fr 1fr;
  justify-content: space-between;
  margin: .8em auto;
  max-width: calc(var(--max-width) - 2em);
  padding: .5em 1em;
  text-decoration: none;

  img { margin: 0; }

  .favicon {
    width: 1.5em;
  }

  .icon {
    margin: 0;
    opacity: .5;
  }

  .productName {
    align-items: center;
    color: var(--blue);
    display: flex;

    img { margin-right: .5em; }
  }

  .details {
    flex: 1 1;
    font-size: .65em;
    margin: 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .category {
    background-color: var(--orange);
    border-radius: 15px;
    color: var(--black);
    font-size: .65em;
    margin: 0 1rem;
    padding: 0 1em;
  }

  &:hover {
    border-color: var(--orange);
    .productName { color: var(--pink); }
    .icon { opacity: 1; }
  }
}

.tagsContainer {
  display: flex;

  > a {
    font-size: .8em;
    color: var(--black);
    background-color: var(--light-grey);
    padding: .1em .6em;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: var(--pink);
      color: var(--white);
    }

    &.active {
      background-color: var(--pink);
      color: var(--white);
    }

    & + a { margin-left: 1em; }
  }
}

.tweetaboutthis {
  font-size: .8em;
  background-color: var(--twitter-blue);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  padding: .2em .8em;

  &:hover {
    background-color: #2B80A5;
  }


  img {
    max-height: .8em;
    margin: 0;
    margin-right: .5em;
  }
}
