.header {
  background-color: var(--blue);
  color: var(--white);
  overflow: hidden;

  .headerContainer {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

    a {
      color: var(--white);
      text-decoration: none;
    }

    > div { padding: 1em; }

    > img {
      margin-bottom: -4em;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .button {
    background-color: var(--pink);
    border-radius: 8px;
    color: var(--white);
    display: inline-flex;
    font-size: 1.5rem;
    margin-top: .5em;
    padding: .5em .8em;
    text-decoration: none;

    &:hover {
      box-shadow: var(--dark) 2px 2px 5px;
      transform: translateX(-2px) translateY(-2px);
    }
  }
}
